<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Happiness-Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BBC859871D0D466D0060287C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBC8599B1D0D466D0060287C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBC859A61D0D466D0060287C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
